body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom, #cac6c8, #f0bcca);
    */
    /* background: linear-gradient(to bottom, #c9d6ff, #e9c5e6); */
    */
    /* background-image: linear-gradient(to bottom, rgb(158, 170, 226), rgb(209, 163, 223));
    font-family: Verdana, Geneva, Tahoma;
    font-size: 20px; */
    color: #2e003e;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 40px 20px;
}

.myphoto {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    /* justify-content: center; */
    /*align-items: center;
    /* height: auto; */
    object-fit: cover;
    margin-bottom: 20px;
    /* border: 30px solid #fff; */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-top: 60px;
    /* aumenta a distância entre o texto e a imagem */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    /*    gap: 40px; /* Novo: separa o texto da imagem */
    padding: 40px;
    padding-bottom: 60px;
    /* Novo: distância entre header e conteúdo */
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    flex: 1;
    margin: 0;
    margin-top: 100px;
    text-align: left;
    color: #2e003e;
}

h2 {
    font-size: 1.4rem;
    margin-top: 8px;
    margin-bottom: 30px;
    color: #4e1d6d;
}

/* h1 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #2e003e;
} */

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #2e003e;
}

.card {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.card h3 {
    margin-top: 0;
    color: #471d57;
}

.card ul,
.card ol {
    padding-left: 20px;
}

.card a {
    color: #4e1d6d;
    text-decoration: none;
}

/* #aboutme { */
/* border: 50px;  */
/* margin: 200px; */
/* border-radius: 5%; */
/* font-size: large; */
/* background-color: aliceblue; */
/* opacity: 50%; */
/* border: 50px solid #2e003e #fff; */
/* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); */
/* margin-left: 10px; */
/* }  */

/* border-radius: 40%;
    margin: 80px;
    text-align: center;
    float: right; */

.content h2,
.content h3 {
    margin-top: 30px;
    color: #471d57;
}

.content ul,
.content ol {
    padding-left: 20px;
}

.content a {
    color: #4e1d6d;
    text-decoration: none;
}

footer {
    margin-top: 50px;
    text-align: center;
    padding: 25px;
    font-size: 0.9rem;
    /* background-color: #e9c5e6; */
    opacity: 50%;
    /* text-align: center;
    font-weight: 500;
 */
}