@charset "UTF-8";

:root {
    --darkColor1: #221730f5;
    --darkColor2: #2b124ce5;
    --mediumColor1: #3b2940;
    --mediumColor2: #854F6C;
    --ligthColor1: #DFB6B2;
    --lightColor2: #fbe4d8e8;
}

@media screen and (min-width: 760px) and (max-width: 992px) {
    /* mid screens */

    header {
    background-image: url(../images/header3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    color: var(--lightColor2);
     /* overlay branco */
    background-color: rgba(255, 255, 255, 0.123);
    background-blend-mode: overlay; /* ou multiply/overlay dependendo do efeito */

    
    display: flex;
    flex-direction: column;
}

p, li{
    font-size: 1em;
}

#introduction {
    display: grid;
    margin: 80px;
    padding: 40px 30px;;
    
    grid-template: auto / 40% 60%;
    gap: 20px;
    align-items: center;
    justify-items: center;
}

#details {
    line-height: 1.7em;
    font-size: 1em;
}

.photo > #imgMid {
    border-radius: 10px;
}

#about-container {
    margin: 30px;
    border-radius: 10px;
}

#skills{
    margin: 30px;
}

#projects{
    margin: 30px;
    border-radius: 10px;
}

#projectList {
    margin-top: 30px;

    display: grid;
    grid-template: auto auto / auto auto;
    gap: 10px;
    flex-direction: column;
    justify-items: center;
}


#coursesId {
    margin: 30px;
}


}


@media screen and (min-width: 992px) {
    /* big screens */
    
    body {
        background-color: rgb(49, 3, 109);
    }
    
    header {
    background-image: url(../images/header3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    color: var(--lightColor2);
     /* overlay branco */
    background-color: rgba(255, 255, 255, 0.123);
    background-blend-mode: overlay; /* ou multiply/overlay dependendo do efeito */

    
    display: flex;
    flex-direction: column;
}


    #burger {
        display: none;
    }

    menu {
        display: block;
    }

    li {
        display: inline-block;
    }
    main {
        width: 768px;
    }

    #introduction {
    display: flex;
    margin: 50px;
    padding: 40px 30px;;
    
   flex-direction: column;
   align-items: flex-end;
}



}