@charset "UTF-8";

@media screen and (min-width: 760px) and (max-width: 992px) {
  /* mid screens */

  body {
    background-size: 100% 40%;
  }

  main {
    margin: 0 auto;
  }

  p,
  li {
    font-size: 1em;
  }

  #intro {
    display: grid;
    margin: 50px 40px;

    grid-template-columns: auto auto;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }

  #details {
    line-height: 1.7em;
    font-size: 1em;
  }

  .photo > #imgMid {
    border-radius: 10px;
  }

  #about-container {
    margin: 50px 40px;
    border-radius: 10px;
  }

  #skills {
    margin-top: 20px;
  }

  #projects {
    margin: 50px 40px;
    border-radius: 10px;
  }

  #projectList {
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-items: center;
  }

  .project-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }

  #coursesId {
    margin: 50px 40px;
  }
}

@media screen and (min-width: 993px) {
  /* big screens */

  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #burger {
    display: none;
  }

  menu {
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
    position: static;
    width: fit-content;
    background-color: #fc5c5700;
    font-size: 1.2em;

    overflow: visible;
  }

  menu li {
    display: inline-block;
  }

  menu > ul > li > a {
    margin-top: 5px;
    padding: 5px 15px;
    border-radius: 5px;
  }

  #bt-languages {
    font-size: 1.5em;
    transform: scale(1.2);
    margin-right: 15px;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.1em;
  }

  body {
    background: linear-gradient(
      160deg,
      var(--colorDetail),
      var(--mainDarkColor) 50%,
      var(--mainDarkColor)
    );

    background-color: var(--mainDarkColor);
    background-size: 100% 60%;
    background-repeat: no-repeat;
  }

  main {
    margin: 0px auto;
    max-width: 1200px;
    font-size: 1.1em;
  }

  #intro {
    margin: 30px auto;
    width: fit-content;
    display: grid;
    padding: 40px 30px;

    grid-template: auto / 40% 60%;
    gap: 40px;
    align-items: center;
    justify-items: center;
  }

  #details {
    font-size: 1.1em;
  }

  .photo > #imgMid {
    border-radius: 30px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
  }

  #about-container {
    margin: 30px;
    border-radius: 10px;
  }

  #skills {
    margin: 30px;
  }

  #projects {
    margin: 30px;
    border-radius: 10px;
  }

  #projectList {
    margin-top: 30px;

    display: flex;
    flex-direction:column;
    gap: 60px;
  }

  .project-card {
    display:flex;
    flex-direction: row;
    align-items: start;
    gap: 60px;
  }

  .project-card img {
    width: 350px;
    height: 230px;
  }

  p,
  li {
    font-size: 1em;
  }

  #coursesId {
    max-width: 900px;
    margin: 30px;
    padding: 40px 30px 50px 40px;
  }

  .courseType {
    margin: 10px auto 30px 30px;
  }

  ul.liSecundary {
    display: block;
  }

  ul.liSecundary li {
    display: list-item;
  }
}
