@charset "UTF-8";

/* mobile first */

:root {
    --mainDarkColor: #1F2233;

    --secondDarkColor: #25273E;
    --colorDetail: #fc5c57d5;

    --fontColor: #effbd8e8;
    --fontColor2: #fbe4d86e;

    --hoverColor: #fbe4d82b;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: var(--mainDarkColor);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--fontColor);
    line-height: 1.6em;
}

header {
    background: linear-gradient(351deg, var(--mainDarkColor) 40%, var(--colorDetail));
    background-size: 100% 400px;
    background-repeat: no-repeat;
    color: var(--fontColor);

    display: flex;
    flex-direction: column;
}

#bt-languages {
    padding: 10px;
    border: none;
    align-self: flex-end;
    border: #d2c8de;
}


button {
    padding: 3px 3px;
    border: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0px;
    cursor: pointer;
}

button:hover {
    background-color: var(--hoverColor);
    border-radius: 5px;
}


h1 {
    padding: 90px 10px 20px 10px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

h2 {
    padding-bottom: 90px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.material-symbols-outlined {
    /* burger menu, from googlefonts */
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#menu {
    margin: 10px;
    align-self: center;
}

p,
li {
    font-size: 0.9em;
}

#burger {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

#burger:hover {
    background-color: var(--hoverColor);
}

menu>ul>li>a {
    display: block;
    margin-top: 10px;
    padding: 1px;
    text-decoration: none;
    color: var(--lightColor2);
    text-align: center;
}

menu>ul>li>a:hover {
    background-color: var(--hoverColor)
}


#introduction {
    display: grid;
    margin: 30px auto;
    padding: 40px 30px;
    ;

    grid-template: auto / 40% 60%;
    gap: 20px;
    align-items: center;
    justify-items: center;
}

#details {
    line-height: 1.5em;
    font-size: 0.9em;
}

.mediaIcon {
    color: var(--fontColor);
}

.mediaIcon:visited {
    color: var(--fontColor);

}

#about-container {
    background-color: var(--secondDarkColor);
    padding: 40px 40px;
    text-align: justify;
    box-shadow: 0px 2px 20px 1px #0000003f;
}


h3 {
    padding: 15px 0px;
}


#skills {
    display: block;
    min-width: 350px;
    margin: 30px auto;
    padding: 40px 30px;
}

.skillsIcons {
    padding: 0px 8px;
    width: 45px;
}

#projects {
    background-color: var(--secondDarkColor);

    padding: 40px 30px;
    line-height: 1.5em;
    text-align: justify;
    box-shadow: 2px 0px 20px 1px #0000003f;
}

.project-txt>p {
    margin: 0px 40px;
    padding: 10px;
}

.project-card {
    margin: 10px 20px;
    padding: 10px 20px;
    align-self: center;
}


.name-project {
    text-align: center;
    color: var(--fontColor);
    padding-top: 10px;
}


#projectList {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.project-card img {
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.616);
}

.project-card img:hover {
    transition: 0.4s;
    transform: scale(1.1);
}

.project-card a {
    text-decoration: none;
}

#coursesId {
    display: block;
    min-width: 350px;
    margin: 30px auto;
    padding: 40px 30px 50px 40px;
}

.courseType {
    margin: 10px auto 10px 30px;
}

ul li {
    list-style-type: none;
}

ul.liSecundary {
    text-indent: 45px;
}


footer {
    background-color: var(--secondDarkColor);
    padding: 8px;
    text-align: center;
    color: var(--fontColor2);
}

