@charset "UTF-8";

/* mobile first */

:root {
  --mainDarkColor: #1f2233;
  --secondDarkColor: #25273e;
  --colorDetail: #fc5c57f9;
  --fontColor: #effbd8e8;
  --fontColor2: #fbe4d86e;
  --hoverColor: #fbe4d82b;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: var(--fontColor);
}

body {
  width: 100%;
  height: 100%;

  background: linear-gradient(
    150deg,
    var(--colorDetail),
    var(--mainDarkColor) 80%,
    var(--mainDarkColor)
  );

  background-size: 100% 25%;
  background-repeat: no-repeat;
  background-color: var(--mainDarkColor);

  font-family: 'DM Sans', Verdana, Geneva, Tahoma, sans-serif;
  color: var(--fontColor);
  line-height: 1.6em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

header {
  /* background: var(--colorDetail); */
  color: var(--fontColor);

  display: flex;
  justify-content: space-between;
}

#bt-languages {
  padding: 10px;
  border: none;
  align-self: flex-end;
  border: #d2c8de;
}

button {
  padding: 3px 3px;
  border: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0px;
  cursor: pointer;
}

button:hover {
  background-color: var(--hoverColor);
  border-radius: 5px;
}

#burger {
  margin-top: 10px;
  margin-left: 10px;

  padding: 2px;
  border-radius: 5px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  align-self: flex-start;
}

#burger:hover {
  background-color: var(--hoverColor);
}

.material-symbols-outlined {
  /* burger menu, from googlefonts */
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

menu {
  background-color: #e25653;
  align-self: center;
  position: absolute;
  top: 10px;
  left: 40px;
  width: 0;
  z-index: 100;
  padding-bottom: 5px;

  overflow: hidden;
  transition: width 0.3s ease;
  border-radius: 5px;
}

p,
li {
  font-size: 0.9em;
}

menu > ul > li > a {
  display: block;
  margin-top: 5px;
  padding: 1px;
  text-decoration: none;
  text-align: center;
}

menu > ul > li > a:hover {
  background-color: var(--hoverColor);
}

h1 {
  padding: 90px 10px 20px 10px;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8) !important;
}

h2 {
  padding-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 2px black !important;
}

h2::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: var(--colorDetail);
  margin: 15px auto 70px;
  border-radius: 2px;
}

.photo > #imgMid {
  border-radius: 10px;
}

#intro {
  display: grid;
  margin: auto;
  padding: 40px 30px;

  grid-template: auto / 40% 60%;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

#details {
  line-height: 1.5em;
  font-size: 0.9em;
}

.mediaIcon {
  color: var(--fontColor);
}

.mediaIcon:visited {
  color: var(--fontColor);
}

#about-container {
  margin: 40px 10px;
  padding: 40px 40px;
  text-align: justify;
}

#about-txt p {
  margin-bottom: 1em;
}

h3 {
  padding: 15px 0px;
}

.skillsIcons {
  margin-top: 5px;
  padding: 0px 8px;
  width: 35px !important;
  height: 25px !important;
  box-shadow: none !important;
}

.jsIcon {
  width: 10px;
}

.reactIcon {
  width: 40px !important;
}

#projects {
  margin: 40px 10px;
  padding: 40px 40px;
  text-align: justify;
  line-height: 1.5em;
}

.project-txt > p {
  margin: 0px 40px;
  padding: 10px;
  text-align: center;
}

.project-card p {
  text-align: center;
}

.project-card {
  margin: 20px;
  padding: 10px 20px;
  align-self: center;
}

.name-project {
  text-align: center;
  color: var(--fontColor);
  padding-top: 10px;
}

#projectList {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.project-card img {
  border-radius: 5px;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.616);
}

.project-card img:hover {
  transition: 0.4s;
  transform: scale(1.1);
}

.project-card a {
  text-decoration: none;
  display: block;
  text-align: center;
}

.project-card p {
  text-align: justify;
}

.project-card ul {
  list-style: disc;
  text-align: left;
  padding-left: 20px;
}


#coursesId {
  text-align: justify;
  display: block;
  min-width: 350px;
  margin: 40px auto;
  padding: 40px 30px 50px 40px;
}

.courseType {
  margin: 10px auto 30px 30px;
}

#coursesTxt li {
  list-style-type: none;
}


ul.liSecundary {
  text-indent: 45px;
}

footer {
  background-color: var(--secondDarkColor);
  padding: 8px;
  text-align: center;
  color: var(--fontColor2);
}
